@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0% 7%;
}

h4{
    font-size: 1rem;
    color: rgd(56,56,56);
}
h3{
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    margin: 2rem 0rem;
}

a{
    color: rgb(56, 56, 56);
}